.mg-b{
    margin-bottom: 1rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}
.btn-wd{
    width: 50%;
}
.btn-primary{
    width: 98px;
    height: 60px;
}