.btn-primary{
    width: 98px;
    height: 60px;
}
.select2-search--dropdown {
    display: none;
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    display: none !important;
}