<section id="hero">
    <div class="hero-container">
        <h1> Covered Drug List</h1>
        <h3>&nbsp;</h3>
    </div>
</section>
<div class="container mt-4">
    <h4>Covered Drug List includes thousands of generic and brand-name prescription
        medications.
        Use this tool to find your prescription drug(s), dosage and cost-sharing.
        <br>
    </h4>
    <h1> Search your Coverage Drug</h1>
    <div class="container" class="bodyheigh">
        <form [formGroup]="popUp2FormGroup">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="form-group" >
                        <label class="pricemedication_label" for="sel1">Plan <span
                            class="text-danger">*</span></label>
                        <ng-select2 [data]="exampleData"
                        [(ngModel)]="value"
                        name="pharmacy" formControlName="pharmacy" placeholder="Select Plan"
                        [formControl]="formControl">
                         </ng-select2>
                        <div *ngIf="(popUp2FormGroup.controls.pharmacy.value == '') && submittedthree"
                        class="invalid-feedback d-block">
                        pharmacy is Required
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="pricemedication_label" for="zipcode">State <span
                            class="text-danger">*</span></label>
                        <ng-select2 [data]="exampleData2"
                        name="zipcode" formControlName="zipcode" placeholder="Select State"
                        [(ngModel)]="value2"
                        [formControl]="formControl2">
            </ng-select2>
                        <div *ngIf="(popUp2FormGroup.controls.zipcode.value == '') && submittedthree"
                        class="invalid-feedback d-block">
                        zipcode is Required
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 mt-4" >
                    <a class="btn btn-primary" (click)="firstsubmit()">Search
                    </a>
                </div>
            </div>
        </form>
    </div>
</div><br> <br><br> <br><br> <br><br> 