.btn-primary{
    width: 115px;
    height: 50px;
    margin-top: 3px
}
.select2-search--dropdown {
    display: none;
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    display: none !important;
}

.bodyheigh{
    height: auto;
}

// Small devices (landscape phones, 576px and up)
// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 768px) { 
    .bodyheigh{
        height: 200px;
    }
    
}
@media (min-width: 992px) and (max-width:1200px) { 
    span.select2.select2-container.select2-container--default.select2-container--below {
        width: 300px !important;
    }
     }

// // Large devices (desktops, 992px and up)
// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 992px) and (max-width:1200px) { 

// }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {

//  }