<section id="hero">
    <div class="hero-container">
        <h1> Covered Drug List</h1>
        <h3>&nbsp;</h3>
    </div>
</section>
<div class="container mt-4">
    <h4>Covered Drug List includes thousands of generic and brand-name prescription
        medications.
        Use this tool to find your prescription drug(s), dosage and cost-sharing.
        <br>
    </h4>
    <h1> Search your Coverage Drug</h1>
    <div class="container" style="height:150px">
        <form [formGroup]="popUp2FormGroup">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="pricemedication_label" for="sel1">Plan <span
                            class="text-danger">*</span></label>
                        <select class="cs-tb" formControlName="pharmacy" name="pharmacy" id="sel1" placeholder="Select Plan">
                            <option value="" disabled selected hidden>Select Plan</option>
                            <option>Clear Spring Health Value Rx (PDP)</option>
                            <option>Clear Spring Health Premier Rx (PDP)</option>
                        </select>
                        <div *ngIf="(popUp2FormGroup.controls.pharmacy.value == '') && submittedthree"
                        class="invalid-feedback d-block">
                        pharmacy is Required
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="pricemedication_label" for="zipcode">State <span
                            class="text-danger">*</span></label>
                        <select class="cs-tb" formControlName="zipcode" name="zipcode" id="sel1" placeholder="Select State">
                            <option value="" disabled selected hidden>Select State</option>
                            <option>Alabama</option>
                            <option>Alaska</option>
                            <option>Arizona</option>
                            <option>Arkansas</option>
                            <option>California</option>
                        </select>
                        <div *ngIf="(popUp2FormGroup.controls.zipcode.value == '') && submittedthree"
                        class="invalid-feedback d-block">
                        zipcode is Required
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-4">
                    <a class="btn btn-primary ml-2 p-3" (click)="firstsubmit()">Search
                    </a>
                </div>
            </div>
        </form>



    </div>
</div>